@{
    Layout = "~/_Layout.cshtml";
    Page.title = "Home";
}

@* this is MCV 5 With layout razor *@

@section head{
    @*sepcifiy styling that is specific to this page*@
    }

@section banner{
<h1>Welcome to Razor and Forms</h1>
    }


@*any thing that is not in a specified section is considered part of 
    render body*@