@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Web Grid Data Reciever";
}

@section banner{
    <h1>Display a collection of records using webgrid</h1>
    }

<h4> you passed the value @Request.QueryString["cid"]</h4>
